{% include ('components/header.html', username) %}

<main>
  <section class="hero">
    <img src="static/assets/sell.png" alt="Sell Image" class="hero-image"/>
  </section>

  <section class="intro">
    <h4>Sell Your Car</h4>
  </section>

  <section class="form-section">
    <form action="/sell_car" method="POST" id="sellCarForm">
      <div class="form-group">
        <label for="carmodel">Car Model:</label>
        <input type="text" id="car_model" name="car_model" required>
      </div>
      
      <div class="form-group">
        <label for="caryear">Car Year:</label>
        <input type="number" id="car_year" name="car_year" required>
      </div>
      
      <div class="form-group">
        <label for="carcondition">Car Condition:</label>
        <textarea id="carcondition" name="car_condition" required></textarea>
      </div>
      
      <div class="form-group">
        <label for="carprice">Price:</label>
        <input type="number" id="car_price" name="car_price" required>
      </div>
      
      <div class="form-group">
        <label for="carimage">Car Image:</label>
        <input type="file" id="car_image" name="car_image" accept="image/*" required>
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </section>
</main>

<script>
    document.getElementById('sellCarForm').addEventListener('submit', function(e) {
      e.preventDefault(); 
  
      let formData = new FormData();
  
      formData.append('car_model', document.getElementById('carmodel').value);
      formData.append('car_year', document.getElementById('caryear').value);
      formData.append('car_condition', document.getElementById('carcondition').value);
      formData.append('car_price', document.getElementById('carprice').value);
      
      const carImage = document.getElementById('carimage').files[0];
      formData.append('car_image', carImage);
  
      fetch('/sellcar', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())  /
      .then(data => {
        if (data.success) {
          document.getElementById('successMessage').style.display = 'block';
          document.getElementById('sellCarForm').reset();
        } else {
          alert('Something went wrong!');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Error submitting form.');
      });
    });
  </script>
  
