{% include ('components/header.html', username) %}

<main>
    <section class="contact">
        <div class="contact-container">
          <h2>Contact Us</h2>
          <form action="/contact" method="POST">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required>
            </div>
    
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
            </div>
    
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="5" required></textarea>
            </div>
    
            <button type="submit">Submit</button>
          </form>
        </div>
      </section>
</main>

{% include ('components/footer.html', username) %}
