{% include ('components/header.html',username) %}
<main>
  <div class="section1">
    <img src="static/assets/bg-1.webp"/>
  </div>
  <div class="section2">
    <h4>Now Sell is easy</h4>
  </div>
  <div class="section3">
    <h2>Sell is Easy</h2>
    <div class="subsection3">
      <div class="subsectionbox1">
          <img src="static/assets/icon1.webp"/>
          <h3>Simply book a free inspection</h3>
      </div>
      <div class="subsectionbox2">
        <img src="static/assets/icon2.webp"/>
        <h3>Get offer for free consultation</h3>
      </div>
      <div class="subsectionbox3">
        <img src="static/assets/icon3.webp"/>
        <h3>Secure Payment and RC transfer</h3>
      </div>
    </div>
  </div>
  <div class="section4">
    <h2>What we Offer?</h2>
    <div class="subsection3">
      <div class="subsectionbox1">
          <img src="static/assets/icon1.webp"/>
          <h3>Just fill-up a simple form with basic details about your car and your free car inspection is booked. </h3>
      </div>
      <div class="subsectionbox2">
        <img src="static/assets/icon2.webp"/>
        <h3>Our free used car inspection is just a call away. And even better, it is available as per your convenience.</h3>
      </div>
      <div class="subsectionbox3">
        <img src="static/assets/icon3.webp"/>
        <h3>As soon as you accept the offer and hand over the car keys , you receive your payment in your account.</h3>
      </div>
      <div class="subsectionbox4">
        <img src="static/assets/icon3.webp"/>
        <h3>As Soon as your car is sold you don’t have to worry about the RC-transfer and paper work, it’s on us.</h3>
      </div>
    </div>
  </div>
</main>
