{% include ('components/header.html', username) %}

<main>
  <section class="hero">
    <img src="static/assets/sell.png" alt="Sell Image" class="hero-image"/>
  </section>

  <section class="intro">
    <h4>Now Selling is Easy</h4>
  </section>
  <section class="steps">
    <div class="steps-container">
      <div class="step">
          <img src="/static/assets/bg1.jpg" alt="Step 1" width="300" height="300"/>
          <h3>Answer some questions about your car to help us understand its condition</h3>
      </div>
      <div class="step">
        <img src="/static/assets/bg2.jpg" alt="Step 2"/>
        <h3>Our car expert will physically verify your car’s condition and give you the final offer</h3>
      </div>
      <div class="step">
        <img src="/static/assets/bg3.webp" alt="Step 3"/>
        <h3>We will transfer the amount directly to your bank account before your car is picked up</h3>
      </div>
    </div>
  </section>
  {% include ('components/footer.html', username) %}

</main>