<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script type="module" src="/static/js/firebase-login.js"></script>
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="loginpage">
    <form>
            <h2>Sign In</h2>
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button id='login'>Login</button>
            <label class="error"></label>
            <h3><span span onclick="window.location.href='/register'">Register Yourself</span></h3>
   </form>
   </div>
</body>
</html>