<!DOCTYPE html>
<html>
<head>
    <title>Registeration</title>
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="loginpage">
        <h2>Driver And Teams</h2>
        <form>
                <input type="text" id="name" placeholder="Name">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <button id='signup'>Sign Up</button>
                <label class="error"></label>
                <h3><span onclick="window.location.href='/'">Login</span></h3>
       </form>
       </div>
</body>
</html>
