{% include ('components/header.html', username) %}

</main>
<section class="used-cars">
    <div class="container">
        <h2>Available Used Cars</h2>
        <div id="cars-list" class="cars-grid">
        </div>
    </div>
</section>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        fetch("/fetchcars")
            .then(response => response.json())
            .then(data => {
                console.log('data',data);
                const carsList = document.getElementById("cars-list");
                if (data.length === 0) {
                    carsList.innerHTML = "<p>No cars available.</p>";
                } else {
                    data.forEach(car => {
                        const carItem = document.createElement("div");
                        carItem.classList.add("car-card");
                        carItem.innerHTML = `
                            <img src="${car.car_image}" alt="Car Image">
                            <h3>${car.car_model} (${car.car_year})</h3>
                            <p>Condition: ${car.car_condition}</p>
                            <p>Price: $${car.car_price}</p>
                            <img src="/static/assets/edit.png" width="10" height="10" class="edit"/>
                        `;
                        carsList.appendChild(carItem);
                    });
                }
            })
            .catch(error => console.error("Error fetching cars:", error));
    });
</script>
{% include ('components/footer.html', username) %}
