<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selling Products</title>
    <link href="static/css/index.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>CARS</h1>
    <nav>
        <h3 onclick="window.location.href='/'">HOME</h3>
        <h3>ABOUT US</h3>
        <h3 onclick="window.location.href='/sell_car'">SELL CAR</h3>
        <h3 onclick="window.location.href='/buycar'">BUY CAR</h3>
        <h3 onclick="window.location.href='/oldcar'">OLD CARS</h3>
        <h3 onclick="window.location.href='/contactus'">CONTACT US</h3>
        </nav>
</header>