<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selling Products</title>
    <link href="/static/css/index.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Car Services</h1>
    <div style="display: flex;justify-content: center;align-items: center;"> 
        <input type="text" placeholder="Search For Cars" class="search"/>
        <button class="searchbtn">Search</button>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/sellcar">Sell Cars</a></li>
            <li><a href="/usedcars">Used Cars</a></li>
            <li><a href="/contactus">Contact us</a></li>
        </ul>
    </nav>
</header>
