<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selling Products</title>
    <link href="/static/css/index.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Car Services</h1>
    <nav>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="/sell_car">SELL CAR</a></li>
            <li><a href="/buycar">BUY CAR</a></li>
            <li><a href="/oldcar">OLD CARS</a></li>
            <li><a href="/contactus">CONTACT US</a></li>
        </ul>
    </nav>
</header>
